@charset "utf8";

/* CSS document */


/* Styles website components */

* {
    background-color: transparent;
}


/* Buttons */

button {
    padding: 0.5rem 1rem;
    border: unset;
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease 0s;
}

button:hover {
    opacity: .9;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}


/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: transparent;
    font-family: 'Exo', sans-serif;
}

h1 {
    /* Will override previous font family */
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
    opacity: .6;
}


/* Styles sections */

[section~="default"] {
    padding-top: 7.50rem;
    padding-bottom: 7.50rem;
}

[section~="small"] {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

[section~="large"] {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

[section~="text"] {
    width: 70ch;
}


/* Provides common flex components */

.horizontal-flex {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}