@charset "utf8";

/* CSS document */


/* Styles website components */


/* Styles buttons */


/* TODO*/


/* Styles titles */

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Exo', sans-serif;
    font-size: 2.5rem;
}