@charset "utf8";

/* CSS document */

.--flex {
    display: flex;
}

.--center-everywhere {
    justify-content: center;
    align-items: center;
}

.--space-evenly {
    justify-content: space-evenly;
}

.--column {
    flex-direction: column;
}