@charset "utf8";

/* CSS document */


/* Provides the color palette */

:root {
    --round-value: 500px;
    --accent-color: #5865F2;
    --error-color: #ED4245;
    --default-component-color: black;
    --blue: #5865F2;
    --green: #57F287;
    --yellow: #FEE75C;
    --pink: #EB459E;
    --red: #ED4245;
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.pink {
    background-color: var(--pink);
}

.red {
    background-color: var(--red);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.accent-color {
    background-color: var(--accent-color);
}

.error-color {
    background-color: var(--error-color);
}

.default-component-color {
    background-color: var(--default-component-color);
}

.background-color {
    background-color: white;
}

.rounded {
    border-radius: var(--round-value);
}